.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(206, 200, 200);
    z-index: 1;
}
.modal{
    max-width: 400px;
    margin: 0 auto;
    padding: 40px 20px;
    background: white;
    text-align: center;
}
.modal p{
    color: rgb(238, 16, 16);
    font-weight: bold;
}
.modal button{
    color: rgb(252, 110, 110);
    border-color: rgb(72, 197, 82);
    font-weight: bold;
    margin-top: 20px;
}